
<mat-toolbar>
    <img src="../../../assets/images/poxedex.png" alt="" width="65px" height="65px" routerLink="/home">      
   <a >PokeAPI</a>
   <span class="Space"></span>
 




  <div class="btn">
    <button mat-raised-button color="primary" aria-label="Example icon button with a home icon" routerLink="home">
      <mat-icon>home</mat-icon>
    </button>

  </div>
    <div class="btn">

      <button mat-raised-button color="primary"  routerLink="pokemones"><h1 red>Pokemones</h1></button>
    </div>
  
 </mat-toolbar>
