<div class="contenedor">
  <div class="slider">
    <ul>
    <li><img src="https://i.ytimg.com/vi/ov9UqIEa8Zs/maxresdefault.jpg" alt="imagen de huevos en encubadoras">
    <div class="text-slider">
    <h1> <u>¡Bienvenido a PokeAPI!</u> </h1>
    <p>Aca podras visualizar infomacion de tus pokemones favoritos.</p></div></li>
                         
    <li><img src="https://media.vandal.net/i/1200x630/8-2021/202181917155469_1.jpg" alt= "imagen del pokémon pez Feebas">
    <div class="text-slider">
    <h1><u>PokeAPI</u> </h1>
    <p>Esta pagina consume la PokeApi. Aventurate y conoce a cada uno de de los pokemones.</p></div></li>
      

    <!-- <li><img src="https://media.vandal.net/i/1200x630/8-2021/202181917155469_1.jpg" alt= "imagen del pokémon pez Feebas">
      <div class="text-slider">
      <h4>TecnologiasI</h4>
      <p></p></div></li>
   
      

   -->
  
  
  </ul>
   </div>

</div>
