
.header-i{
    background-size: cover;
    margin-left: 10px;
    
}

.mat-card-image {
    width: 70%;
    margin: auto;
    display: block;
    overflow: hidden;
}

.mat-card-title{
    text-transform: uppercase;
    color: white;
    text-align: center;
    margin: auto;

}

.mat-card-subtitle{
    color: black;
    text-align: left;
    font-size: medium;
}

.mat-card{
    margin-top: 10px;
    margin: auto;
 
 

}

.mat-card-header{
    background-color:rgba(41, 91, 157, 0.891);
    border-radius: 10px;
    padding-top: 10px;
    border-color: rgb(0, 0, 0);
    margin: auto;
}

.mat-dialog-container {
    display: block;
    padding: 24px;
    border-radius: 4px;
    box-sizing: border-box;
    overflow: auto;
    outline: 0;
    width: 80%;
    height: 80%;
    min-height: inherit;
    max-height: inherit;
    border-color: black;
    box-shadow: 100px;
}